/* 	Screen
	1120px - 1839px
	14 cols */

/* Styles for screen and above */
@media screen and (min-width: 1120px) {

	h1 {.h1; font-weight: 700;}
	.bordered {
		padding: @gutter*13/8 0 2*@gutter - 1px 0;
	}
	header { 
		#firm-description {
			.cols-outer(10);
		}
		h1, p {
			.cols(10);
		}
	}
	#cases {
		.case {
			.cols-left(1);
			.picture {
				background-position: 0px 0px;
				&#psykologviskum {
					background-image: url('../img/cases/psykologviskum-284x180-bw.jpg');
				}
				&#metteomaibom {
					background-image: url('../img/cases/metteomaibom-284x180-bw.jpg');
				}
				img {
					.opacity(0);
				}
			}
			&:hover {
				.picture {
					img {
						.opacity(1);
						.easy-transition(0.5s);
					}
				}
			}
		}
		#load-more {
			.cols-left(10);
		}
	}
	#work {
		h3, .text {
			.cols(8);
			float: right;
		}
	}
	#about {
		.profile {
			.cols-outer-left(2);
			.btn {
				.cols(2);
			}
		}
	}
	#contact {
		#tagline {
			.cols(14);
		}
		#hire-us {
			.cols(5);
			h3, p, #contact-get-started {
				.cols-reset();
			}
			#contact-get-started {
				.cols-width(5);
			}
		}
		#follow, #email, #location {
			.cols(3);
		}
	}	
	footer {
		#logo {
			.cols-left(2);
		}
	}
}

/* Specific for screen */
@media screen and (min-width: 1120px) and (max-width: 1839px) {
	#cases {
		.case {
			&:nth-child(3n-1) {
				.cols-left(0);
			}
		}
	}
	#about {
		.profile {
			&:nth-child(even) {
				.cols-outer-left(0);
			}
		}
	}
}