/* 	Tablet Tall
	720px - 959px
	9 cols */
	
/* Styles for tablet tall and above */
@media screen and (min-width: 720px) {
	h1 { .h3; text-transform: uppercase; font-weight: 700;}
	.bordered {
		margin-bottom: 2*@gutter;
		margin-top: 3*@gutter;
		h2 {
			.cols(9);
		}
	}
	header { 
		#firm-description {
			.cols-outer(5);
		}
		h1, p {
			.cols(5);
			text-align: left;
		}
		nav {
			.cols-outer-left(0);
			.cols-outer-right(0);
		}
	}
	#adaptive-design {
		#adaptive-design-description {
			.cols(4);
		}
		#get-started {
			.cols(4);
			.cols-left(5);
		}
	}
	#cases {
		.case {
			.cols-outer(4);
			.picture {
				.cols(4);
			}
		}
		#load-more {
			.cols(4);
			.cols-left(5);
			margin-top: @gutter;
		}
	}
	#work {
		h3, .text {
			.cols(5);
			float: right;
		}
	}
	#about {
		.profile {
			.cols-outer(4);
			h3, h4, p {
				.cols(4);
			}
			.btn {
				.cols(1);
			}
		}
	}
	#contact {
		#tagline {
			.cols(9);
		}
		#hire-us, #follow, #email, #location {
			.cols(4);
		}
		#follow, #email, #location {
			float: right;
			.cols-left(1);
		}
		#contact-get-started {
			.cols-width(4);
		}
	}	
	footer {
		#logo {
		 .cols-left(1);
		 .cols-right(1);
		}
		.text {
			.cols(5);
		}
	}
}

/* Specific for tablet tall */
@media screen and (min-width: 720px) and (max-width: 959px) {
	#cases {
		.case {
			&:nth-child(odd) {
				.cols-outer-left(1);
			}
		}
	}	
	#about {
		.profile {
			&:nth-child(odd) {
				.cols-outer-left(1);
			}
		}
	}
}